
//  write css and scss here 


body{
    width: 1920px;
height: 7270.44px;
top: -980px;
left: 4372px;
gap: 0px;
opacity: 0px;

}

h1{
    color: black;
    background-color: chartreuse;
    text-align: center;
    border-radius: 50%;
    
}